In [1]:
import pandas as pd
import os

# Extract Data

In [2]:
# Define path to the folder containing the files
stock_path = os.path.join(
    os.path.abspath('../'),
    'data',
    'raw',
    'huge_stock_market_dataset',
    'Stocks'
)

## From .txt files

In [3]:
# # List the stock's files
# stock_files = os.listdir(stock_path)

In [4]:
# # Concatenate data from each .txt file
# # Initialize DataFrame
# df_stock_market = pd.DataFrame()

# # Iterate through all files
# for file in stock_files:
#     print(file)

#     try:
#         # Read as csv
#         df = pd.read_csv(
#             os.path.join(stock_path, file)
#         )

#         # Set the stock (company ticker) from the file name
#         df['Stock'] = file.split('.')[0].upper()

#         # Concatenate with other stocks
#         df_stock_market = pd.concat(
#             [df_stock_market, df]
#         )

#     # If the file doesn't contain data, pass
#     except pd.errors.EmptyDataError:
#         pass

In [5]:
# # Save the data within a single file
# df_stock_market.to_csv(os.path.join(stock_path, '_all_stocks.csv'), sep=';', decimal=',', index=False)

## Read the preprocessed file

In [6]:
df_stock_market = pd.read_csv(
    os.path.join(stock_path, '_all_stocks.csv'),
    sep=';',
    decimal=','
)

df_stock_market.head()

         Date    Open    High     Low   Close    Volume  OpenInt Stock
0  1999-11-18  30.713  33.754  27.002  29.702  66277506        0     A
1  1999-11-19  28.986  29.027  26.872  27.257  16142920        0     A
2  1999-11-22  27.886  29.702  27.044  29.702   6970266        0     A
3  1999-11-23  28.688  29.446  27.002  27.002   6332082        0     A
4  1999-11-24  27.083  28.309  27.002  27.717   5132147        0     A

# Transform

In [7]:
# Set companies and columns to keep
companies = [
    'MSFT',
    'AAPL',
    'NVDA',
    'GOOGL',
    'AMZN'
]

cols = ['Date', 'Close', 'Volume', 'Stock']

# Filter rows (companies and period) and columns
df_stock_market_result = df_stock_market.loc[
    (df_stock_market['Stock'].isin(companies))
    & (df_stock_market['Date'].between('2008-06-08', '2016-07-01')),
    cols
]

# Check the result
print(df_stock_market_result.shape)
df_stock_market_result.head()

(10160, 4)

             Date   Close     Volume Stock
45077  2008-06-09  23.257  526264929  AAPL
45078  2008-06-10  23.774  318040510  AAPL
45079  2008-06-11  23.156  267941514  AAPL
45080  2008-06-12  22.189  364403085  AAPL
45081  2008-06-13  22.074  375180778  AAPL

In [8]:
# Convert Date colum to datetime
df_stock_market_result['Date'] = pd.to_datetime(df_stock_market_result['Date'])

# Load

In [9]:
df_stock_market_result.to_csv(
    os.path.join(
        os.path.abspath('../'),
        'data',
        'processed',
        'stock_market_dataset.csv'
    )
)